POSTGRES_DB=имя базы
POSTGRES_USER=владелец базы
POSTGRES_PASSWORD=пароль базы
DB_HOST=db
DB_PORT=5432
SECRET_KEY=ключ приложения django
DEBUG=True/False
ALLOWED_HOSTS=разрешенные хосты(your.domain.com)
CSRF_TRUSTED_ORIGINS=разрешенные хосты с протоколами (https://your.domain.com)
